<%- include('partials/header') %>
<%- include('partials/deleteSearch') %>
			<!-- Tab content -->
			<div class="updateTabcontent">
				<div id="mother-content">
					<h2>UPDATE MOTHERS' INFORMATION</h2>
					<form class="mother-form" action="/mother/<%- mother._id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
						<fieldset class="mother-fieldset" action="/mother/add" method="POST">
							<legend class="update-legend">DETAILS</legend>
							<!-- Inputs section -->
							<section class="inputs">
								<span><input class="cls-cID" type="text"  name="motherID" id="mID" value="<%- mother.motherID %>"><br>
								<label class="cls-cID" for="mID">Mother ID</label><br></span>
		
								<span id="registration-number"><input type="text" id="registration-number" name="childID" value="<%- mother.childId %>"><br>
								<label class="cls-registration-number" for="childID">Child ID</span><br>
		
								<span><input type="text" id="m-fname" name="firstName" value="<%- mother.firstName %>"><br>
								<label for="m-fname">First name</label></span>
		
								<span><input type="text" id="m-mname" name="otherName" value="<%- mother.otherName %>"><br>
								<label for="m-mname">Other name(s)</label><br></span>
		
								<span><input type="text" id="m-lname" name="lastName" value="<%- mother.lastName %>"><br>
								<label for="m-lname">Last name</label><br></span>
								
								<span><input type="text" id="m-gender" name="gender" value="<%- mother.gender %>"><br>
								<label for="m-gender">Gender</label><br></span>
		
								<span><input type="text" id="m-nationality" name="nationality" value="<%- mother.nationality %>"><br>
								<label for="m-nationality">Nationality</label><br></span>
					
								<span><input type="text" id="m-marital-status" name="maritalStatus" value="<%- mother.maritalStatus %>"><br>
								<label for="m-marital-status">Marital status</label><br></span>
		
								<span><input type="text" id="m-occupation" name="occupation" value="<%- mother.occupation %>"><br>
								<label for="m-occupation">Occupation</label><br></span>
		
								<span><input type="text" id="m-edu-status" name="educationalLevel" value="<%- mother.educationalLevel %>"><br>
								<label for="m-edu-status">Educational level</label><br></span>
		
								<span><input type="text" id="m-number-of-children" name="noOfChildren" value="<%- mother.noOfChildren %>"><br>
								<label for="m-number-of-children">No. of children</label><br></span>

								<span><input type="text" id="m-contact-number" name="contact" value="<%- mother.contact %>"><br>
								<label for="m-contact-number">Contact number</label><br></span>
		
								<span><input type="text" id="m-address" name="address" value="<%- mother.address%>"><br>
								<label for="m-address">Residence address</label><br></span>
							</section>
							<!-- End of inputs section -->

							<fieldset class="date-photo">
								<section>
									<section class="reg-date">
										<label>Reg date</label>
										<input type="text" name="regDate" value="<%- mother.regDate.toLocaleString().substring(0, 10) %>">
									</section><br>
		
									<section class="DOB">
										<label>Date of birth</label>
										<input type="text" name="dob" value="<%- mother.regDate.toLocaleString().substring(0, 10) %>">
									</section><br>
		
									<section id="photo">
										<img src="/files/<%- mother.photo %>">
										<input id="m-browse-btn" type="file" name="photo" value="Browse">
									</section>
								</section>
							</fieldset>	
	
							<span class="btn">
								<input type="submit" value="Delete">
							</span>
						</fieldset>
					</form>
				</div>	
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 