<%- include('partials/header') %>
<%- include('partials/deleteSearch') %>
			<!-- Tab content -->
			<div class="updateTabcontent">
				<h2>CHILD VISITORS</h2>
				<div class="visitors-content">
					<table>
						<thead>
							<tr>
								<th>No</th>
								<th>Date (Month/Day/Year)</th>
								<th>Name</th>
								<th colspan="2">Action</th>
							</tr>
						</thead>

						<tbody>
							<% let num = 0 %>
							<% visitors.forEach(visitor => { %>
								<tr>
									<td><%- num += 1 %></td>
									<td><%- visitor.date.toLocaleString().substring(0, 10) %></td>
									<td><%- visitor.name %></td>
									<td><a href="/visitors/<%- visitor._id%>/edit">Edit</a></td>
									<td>
										<form action="/visitors/<%- visitor._id %>?_method=DELETE" method="POST">
											<button type="submit">Delete</button>
										</form>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
					<form class="visitors-form" action="/visitors/add" method="POST">
						<!-- <fieldset class="visitors-fieldset"> -->
							<!-- <legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="visitorsID" value="<%- //visitors.visitorsID %>" name="visitorsID" readonly><br>
								<label for="visitorsID">Visitor ID</label><br></span>
							
								<span><input class="cls-cID" type="text" id="childID" name="childID" value="<%- //visitors.childID %>" readonly><br>
								<label class="cls-cID" for="childID">Child ID</label><br></span>
	
								<span><input type="text" id="visitors" name="name" value="<%- //visitors.name %>" readonly><br>
								<label for="visitors">Visitors Name</label></span>

								<span><input type="text" id="visitors-purpose" name="purpose" value="<%- //visitors.purpose %>" readonly><br>
								<label for="visitors-purpose">Purpose</label></span><br>
	
							</section>

							<section class="date-photo">
								<span><input type="text" id="visitors-date" name="visitDate" value="<%- //visitors.visitDate %>" readonly></span><br>
								<span><label for="visit-date">Date</label></span>
							</section> -->
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 