<%- include('partials/header') %>
<%- include('partials/deleteSearch') %>
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="visitors-content">
					<h2>WARD</h2>
					<form class="visitors-form" action="/ward/<%- ward._id %>?_method=DELETE" method="POST">
						<fieldset class="visitors-fieldset">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="name" name="name" value="<%- ward.name %>"><br>
								<label for="name">Ward Name</label><br></span>
							
								<span><input class="cls-cID" type="text" id="hod" name="hod" value="<%- ward.hod %>"><br>
								<label class="cls-cID" for="hod">Head of Ward</label><br></span>
	
								<span><input type="number" id="noOfBeds" name="noOfBeds" value="<%- ward.noOfBeds %>"><br>
								<label for="noOfBeds">Total Number of Beds</label></span>
							</section>

							<section class="ward-admission-section">
								<textarea name="description" class="text-area-full"><%- ward.description %></textarea>
							</section>
	
							<span class="btn">
								<input type="submit" name="submit" value="Delete">
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 