<%- include('partials/header') %>
<%- include('partials/viewSearch') %>
			<!-- Tab content -->
			<div class="updateTabcontent">
				<h2>CHILD VISITORS</h2>
				<div class="visitors-content">
					<table>
						<thead>
							<tr>
								<th>No</th>
								<th>Date (Month/Day/Year)</th>
								<th>Name</th>
							</tr>
						</thead>

						<tbody>
							<% let num = 0 %>
							<% visitors.forEach(visitor => { %>
								<tr>
									<td><%- num += 1 %></td>
									<td><%- visitor.date.toLocaleString().substring(0, 10) %></td>
									<td><%- visitor.name %></td>
									<td><a href="/visitors/<%- visitor._id%>"> View </a></td>
									<td>
										<form action="/visitors/<%- visitor._id %>?_method=DELETE">
											<button type="submit">Delete</button>
										</form>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 